<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      .root {
        max-width: 800px;
        padding: 50px;
        margin: 0 auto;
      }
    </style>
    <title>オススメ記事検索</title>
  </head>
  <body>
    <div class="root">

      <h1>オススメ記事検索をしよう</h1>
      <br>

      <!--エラー表示-->
      {% if error %}
        <p class="alert-danger">{{ error }}</p>
        <br>
      {% endif %}

      <!--検索入力欄-->
      <form action="/search">
        <div class="form-group">
          <input type="text" name="query" value="{% if query %}{{ query }}{% endif %}" placeholder="キーワードを入力してください" class="form-control">
          <br>
          <input type="submit" value="検索する" class="btn btn-primary">
        </div>
      </form>
      <br>

      <!--検索結果-->
      {% if articles %}
        <h2>検索結果</h2>
        <ul class="list-group">
          {% for article in articles %}
            <li class="list-group-item"><a href="{{ article['link'] }}">{{ article['title'] }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>

  </body>
</html>
